// Project show //
.fa {
    color: #3B5998;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    padding: 1px;
}

// Project creation
#projectnew
{
  background-color: white;
  width : 1000px;
  height: 1700px;
}




#userlogin
{
  background-color: white;
  width : 500px;
  height: 500px;
}

.heading {
  text-align: center;
}




#userregister{
  background-color: white;
  width : 700px;
  height: 500px;

}
#indx{
    max-width:1550px;
}
.col-8 .col-sm-6 .col-lg-4 .thisisfunnnn{
    padding: 15px 15px 15px 15px;
}


#usertransaction{

  width : 1500px;
  border: 10px;
  margin: 10px;
  padding: 10px;

}

