.fa {
    color: #3B5998;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  padding: 1px;
}

.active {
    font-weight: bold;
}

// Project creation
#projectnew
{
  background-color: lightgray;
  width : 1000px;
  height: 1700px;
}


// Login //

#userlogin
{
  background-color: lightgray;
  width : 500px;
  height: 500px;
}
.heading
{
  text-align: center;
}


#userregister{
  background-color: lightgray;
  width : 700px;
  height: 500px;

}




